<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Publications</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">
    <style>
        .call-to-action .call-to-action-content {
            text-align: left;
        }

        .call-to-action-custom {
            padding: unset !important;
        }
    </style>

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-white">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-md-12 align-self-center p-static">
                                <h1 class="text-dark"><strong>List of Manual & Procedures</strong></h1>
                            </div>

                        </div>
                    </div>
                </section>
                <div id="examples" class="container py-2">

                    <div class="row">
                        <div class="col">

                            <div class="row">
                                <table id="table" class="table">
                                    <thead>
                                        <tr role="row" class="row-1 odd">
                                            <th tabindex="0" aria-controls="tablepress-2" rowspan="1" colspan="1"
                                                aria-label="No: activate to sort column ascending" class="sorting"
                                                style="width: 55px;">No</th>
                                            <th tabindex="0" aria-controls="tablepress-2" rowspan="1" colspan="1"
                                                aria-label="Document Number: activate to sort column ascending"
                                                class="sorting" style="width: 267px;">Document Number </th>
                                            <th tabindex="0" aria-controls="tablepress-2" rowspan="1" colspan="1"
                                                aria-label="Document Title: activate to sort column ascending"
                                                class="sorting" style="width: 874px;">Document Title</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="row-2 even">
                                            <td>1</td>
                                            <td>USAC-QM<br></td>
                                            <td>Quality Manual</td>
                                        </tr>
                                        <tr role="row" class="row-3 odd">
                                            <td>2</td>
                                            <td>USAC-PR-01</td>
                                            <td>Procedure for Document control</td>
                                        </tr>
                                        <tr role="row" class="row-4 even">
                                            <td>3</td>
                                            <td>USAC-PR-02</td>
                                            <td>Procedure for Record control</td>
                                        </tr>
                                        <tr role="row" class="row-5 odd">
                                            <td>4</td>
                                            <td>USAC-PR-03</td>
                                            <td>Procedure for Control of NCP, CA</td>
                                        </tr>
                                        <tr role="row" class="row-6 even">
                                            <td>5</td>
                                            <td>USAC-PR-04</td>
                                            <td>Procedure for PA &amp; CI</td>
                                        </tr>
                                        <tr role="row" class="row-7 odd">
                                            <td>6</td>
                                            <td>USAC-PR-05</td>
                                            <td>Procedure for IA &amp; MRM</td>
                                        </tr>
                                        <tr role="row" class="row-8 even">
                                            <td>7</td>
                                            <td>USAC-PR-06</td>
                                            <td>Procedure for Complaints /Appeals/Disputes</td>
                                        </tr>
                                        <tr role="row" class="row-9 odd">
                                            <td>8</td>
                                            <td>USAC-PR-07</td>
                                            <td>Procedure for Selection, Training &amp; Monitoring of Assessors and
                                                Experts<br></td>
                                        </tr>
                                        <tr role="row" class="row-10 even">
                                            <td>9</td>
                                            <td>USAC-PR-08</td>
                                            <td>Procedure for Conducting Assessment Process.</td>
                                        </tr>
                                        <tr role="row" class="row-11 odd">
                                            <td>10</td>
                                            <td>USAC-PR-09</td>
                                            <td>Procedure for Conducting Assessment Process.</td>
                                        </tr>
                                        <tr role="row" class="row-12 even">
                                            <td>11</td>
                                            <td>USAC-PR-10</td>
                                            <td>Procedure for formation of Impartiality and Policy Review Committee.<br>
                                            </td>
                                        </tr>
                                        <tr role="row" class="row-13 odd">
                                            <td>12</td>
                                            <td>USAC-PR-11</td>
                                            <td>Procedure for New Program Scheme Development</td>
                                        </tr>
                                        <tr role="row" class="row-14 even">
                                            <td>13</td>
                                            <td>USAC-PR-12</td>
                                            <td>Procedure for Accreditation in Foreign Country</td>
                                        </tr>
                                        <tr role="row" class="row-15 odd">
                                            <td>14</td>
                                            <td>USAC-PR-13</td>
                                            <td>Procedure for Accreditation Review Committee (ARC)</td>
                                        </tr>
                                        <tr role="row" class="row-16 even">
                                            <td>15</td>
                                            <td>USAC-PR-14</td>
                                            <td>Procedure for Risk Analysis</td>
                                        </tr>
                                        <tr role="row" class="row-16 odd">
                                            <td>16</td>
                                            <td>USAC-PR-15</td>
                                            <td>Procedure for Assessment and Accreditation Process of Product
                                                Certification Bodies</td>
                                        </tr>
                                        <tr role="row" class="row-16 even">
                                            <td>17</td>
                                            <td>USAC-PR-16</td>
                                            <td>Procedure for Assessment and Accreditation Process of Persons
                                                Certification Bodies</td>
                                        </tr>
                                        <tr role="row" class="row-16 odd">
                                            <td>18</td>
                                            <td>USAC-PR-17</td>
                                            <td>Procedure for Accreditation Requirements of Testing Labs</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>


            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>