<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Publications</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">
    <style>
        .call-to-action .call-to-action-content {
            text-align: left;
        }

        .call-to-action-custom {
            padding: unset !important;
        }
    </style>

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-white">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-md-12 align-self-center p-static">
                                <h1 class="text-dark"><strong>Publications</strong></h1>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="call-to-action ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-lg-12">
                                <div class="call-to-action-content with-borders">
                                    <h3>Information About Accreditation Process</h3>
                                    <p class="text-dark text-dark text-4">Interested parties can send an email at <a
                                            href="mailto:usacamerica@gmail.com ">
                                            usacamerica@gmail.com </a> to
                                        request the following documents.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action mb-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>GENERAL ACCREDITATION DOCUMENTS:</h3>
                                    <p class="mb-0">General Accreditation Requirements.</p>
                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-GEN-CAB-01</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Condition For The Use of USAC Accreditation Symbol.</h3>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-GEN-CAB-02</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>MANAGEMENT SYSTEM CERTIFICATIONS:</h3>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Human Health Care
                                        Management System in accordance with USAC requirements and policies.</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-HHCM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Green and Clean Hospital Management System in accordance with USAC
                                        requirements and policies.</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-GCHM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Quality Management System in accordance with USAC requirements and policy
                                        2015-03</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-QMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Environmental Management System in accordance with USAC requirements and
                                        policy 2015-03</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-EMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Energy Management System in accordance with USAC requirements.</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-ENMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Food Safety Management System in accordance with USAC requirements.</p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-FSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Information Security Management System in accordance with USAC requirements.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-ISMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Information Tecnology Service Management System in accordance with USAC
                                        requirements.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-ITSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Occupational Health and Safety Management System in accordance with USAC
                                        requirements and USAC Migration Policy to ISO 45001:2018.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-OHSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Asset Management System in accordance with USAC requirements.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-AMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Business Continuity Management System in accordance with USAC requirements.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-BCM</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Medical Device Quality Management System in accordance with ISO 13485 and USAC
                                        Policies 2016-04 and 2017-02.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-MDD</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Supply Chain Security Management System in accordance with ISO 28000.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-SCSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Anti Bribery Management System in accordance with ISO 37001.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-ABMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Certification
                                        of Ship Recycling Management Systems in accordance with ISO 30000.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-SRMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Certification
                                        of Road Traffic Safety Management System in accordance with ISO 39001.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-RTSMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Certification
                                        of Event Sustainability Management Systems(ESMS) in accordance with ISO 20121.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-ESMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Certification
                                        of Facility Management (FMS) Management Systems in accordance with ISO 41001.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-FMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Certification
                                        of Privacy Information Management Systems in accordance with ISO 27701.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-PIMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Certification
                                        of Asset Management System in accordance with ISO 37001.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-AMS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
             
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>INSPECTION BODIES:</h3>
                                    <p class="text-dark text-dark text-4">Accreditation requirements for Inspection
                                        Bodies.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-IB01</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
             
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>CALIBRATION AND TESTING LABORATORIES:</h3>
                                    <p class="text-dark text-dark text-4">Accreditation requirements for calibration and Testing Laboratories.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-LAB-01</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Personnel Certification Bodies:</h3>
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Bodies Certifying Persons.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-PCB</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="call-to-action call-to-action-custom">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-9 col-lg-9">
                                <div class="call-to-action-content">
                                    <h3>Product Certification Bodies:</h3>
                                    <p class="text-dark text-dark text-4">Accreditation Requirements for Bodies Certifying Products, Processes and Services.
                                    </p>

                                </div>
                            </div>
                            <div class="col-sm-3 col-lg-3">
                                <div class="call-to-action-btn">
                                    <a href="#" target="_blank" class="btn btn-primary  text-2 text-white">
                                        USAC-CAB-PrCB</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
               
            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>