<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>UNITED STATES ACCREDITATION (USAC) </title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include layout-web/header %>

            <div role="main" class="main">
                <div class="container main-container">
                    <div class="row ">
                        <div class="col-lg-12  mt-lg-0">
                            <div>
                                <span
                                    class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                                    <span class="thumb-info-wrapper">
                                        <img src="/website-file/USAC-Website/aboutus/main-menu.jpg"
                                            class="img-fluid custom-border" alt="accrediatation">
                                        <span class="thumb-info-wrapper-overlay">
                                            <span class="thumb-info-action">
                                                <a href="#">
                                                    <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fas fa-play-circle text-dark text-dark"></i></span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <br>
                                <h2 class="text-10 text-dark">USAC is independent, impartial and a paradigm pioneer in
                                    the field of accreditation.</h2>
                                <p class="text-dark text-dark text-4">
                                    Operating in over 32 countries worldwide, USAC is thought to be the largest
                                    independent accreditation body in the world. Established in 1982, the organization
                                    has been a persistent pioneer in the field of accreditation, well known and
                                    respected for its combination of innovative and user-friendly business acumen and
                                    its respect for the vigorous maintenance of integrity and impartiality that is the
                                    hallmark of the quality assurance profession.
                                </p>
                                <p class="text-dark text-dark text-4">
                                    USAC have pioneered novel approaches to accreditation that permit benchmarking via
                                    quantitative evaluation of conformity assessment body (CAB), performance. Our
                                    objective accreditation reporting permits us to monitor the performance of CABs year
                                    on year and provides us the ability to determine, in detail, the manner in which
                                    CABs are attaining the levels of excellence we demand.
                                </p>
                                <p class="text-dark text-dark text-4">
                                    Accreditation by an independent authority means that when you choose a certification
                                    body to review your activities you are choosing someone who has been reviewed
                                    against defined standards. You will know that they have their own documented
                                    operating system and procedures for looking after your interests. You know that
                                    accreditation by USAC has provided a level of assurance and recourse that is not
                                    normally available to business.
                                    All organizations certificated by USAC accredited organisations may be independently
                                    verified and their current certification status checked. In addition all
                                    professsionals who have successfully completed USAC accredited training courses are
                                    listed and may be independently verified.
                                </p>
                                <p class="text-dark text-dark text-4">
                                   <strong> Structure</strong><br>
                                    USAC operations are overseen by a Governing Board. The Technical Advisory Council
                                    and the Accreditation Review Board allow USAC to bring technical expertise and
                                    stakeholder involvement to the development of accreditation programmes and the
                                    accreditation decision respectively.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>

                <hr>



            </div>

            <% include layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>