<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Contact Us United States Accreditation Council (USAC)e</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file//favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/img/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include layout-web/header %>

            <div role="main" class="main">
                <div>
                    <span
                        class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                        <span class="thumb-info-wrapper">
                            <img src="/website-file/web-img/World-map.jpg"
                                class="img-fluid custom-border" alt="accrediatation" style="height: 500px;">
                            <span class="thumb-info-wrapper-overlay">
                                <span class="thumb-info-action">
                                    <a href="#">
                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                class="fas fa-play-circle text-dark text-dark"></i></span>
                                    </a>
                                </span>
                            </span>
                        </span>
                    </span>
                </div>
                <div class="container">

                    <div class="row py-4 mobile-div-flex">
                     
                        <div class="col-lg-5">

                            <br>

                            <br>


                            <div class="overflow-hidden">
                                <!-- <p class="mb-0 appear-animation" data-appear-animation="maskUp"
                                    data-appear-animation-delay="600">Book your free personal demo now.
                                <p> -->
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn"
                                data-appear-animation-delay="800">
                                <h4 class="mt-2 mb-1">Our Office</h4>
                                <ul class="list list-icons list-icons-style-2 mt-2">
                                    <li><i class="fas fa-map-marker-alt top-6"></i>
                                        <p class="m-0 ">
                                            United States Accreditation Council 7950 NW,<br> 53rd Street, Suite 337,
                                            Miami, Florida 33166
                                        </p>

                                    </li>
                                    <li><i class="fas fa-phone top-6"></i> <strong class="text-dark">Mobile
                                            Number:</strong>
                                        <a href="tel:+1 (786)-292-2986">+1 (786)-292-2986</a>
                                    </li>
                                    <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">Email:</strong>
                                        <a href="mailto:usacamerica@gmail.com">
                                            usacamerica@gmail.com
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <br>

                            <!-- <div id="googlemapsMarkers" class="google-map mt-0 mb-4" style="height: 280px;">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3781.5345596124794!2d73.7713860751935!3d18.59501108251304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9c1a6a7666f%3A0xfc6991f85123a7df!2sAccucia%20Softwares%20Pvt%20Ltd!5e0!3m2!1sen!2sin!4v1702623425330!5m2!1sen!2sin"
                                    width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div> -->


                        </div>
                        <div class="col-lg-6">
                            <br>
                            <div id="form-title">
                                <h3 class="text-8 text-dark" style="margin: 0; font-weight: 600;line-height: 40px">Have a Question ? <br> Contact Us</h3>
                                <p>Send us a message or find our contact details below. We're happy to assist.</p>
                            </div>


                            <p class="massge">
                                Your message has been sent successfully. We'll get back to you shortly.
                            </p>

                            <form class="contact-form" id="contact-form">
                                <div class="contact-form-success alert alert-success d-none mt-4">
                                    <strong>Success!</strong> Your message has been sent to us.
                                </div>

                                <div class="contact-form-error alert alert-danger d-none mt-4">
                                    <strong>Error!</strong> There was an error sending your message.
                                    <span class="mail-error-message text-1 d-block"></span>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Full Name</label>
                                        <input type="text" value="" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="name" id="name">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Email Address</label>
                                        <input type="email" value="" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="email" id="email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Mobile Number</label>
                                        <input type="text" value="" id="phone" maxlength="10"
                                            class="form-control text-3 h-auto py-2" name="phone"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label class="form-label mb-1 text-2">Subject</label>
                                        <input type="text" value="" id="subject" maxlength="100"
                                            class="form-control text-3 h-auto py-2" name="subject">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col">
                                        <label class="form-label mb-1 text-2">Message</label>
                                        <textarea maxlength="5000" rows="5" class="form-control text-3 h-auto py-2"
                                            id="message" name="message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <div class="g-recaptcha"
                                            data-sitekey="6LdA20IpAAAAANqj-Ya7N5Q5qnKMfsJArO0vfqF2"></div>
                                        <br>
                                        <input type="submit" id="contact-btn" value="Send Message"
                                            class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                    </div>

                                </div>
                            </form>

                        </div>


                    </div>

                </div>

            </div>

            <% include layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>
    <script src="/website-file/js/contact.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>