<% include layout/header %>

<!-- BEGIN: Page Main-->

<div id="main">
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
    <div class="col s12">
      <div class="container">
        <div class="section">
          <div class="col s12 m8 l12 animate fadeRight">
            <!-- Total Transaction -->
            <div class="card">
              <div class="card-content">

                <div class="row">



                  <div class="col s12 m6 l6 xl12">
                    <h6>Users</h6>
                    <hr>
                  </div>

                  <div class="col s12 m6 l6 xl3">
                    <div class="card gradient-45deg-green-teal gradient-shadow white-text animate fadeRight"
                      style="border-radius: 20px;">
                      <div class="padding-4">
                        <div class="row">
                          <div class="col l3">
                            <i class="material-icons background-round mt-5">verified_user</i>
                          </div>
                          <div class="col l9 right-align">
                            <p class="no-margin center">Total Users</p>
                            <h5 class="mb-0 mt-0 white-text"
                              style="align-items: center; display: flex; justify-content: center;">
                              <span id="total_customers" class="count2">00</span> <span
                                class="material-icons">supervisor_account</span>
                            </h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-overlay"></div>
  </div>
</div>
<!-- END: Page Main-->


<% include layout/footer %>

<!-- <script src="/admin/custom/dashboard.js"></script> -->
<!-- <script type="text/javascript">
  $(function () {
    dashboard.base_url = "<%=baseURL%>";
    dashboard.api_url = "<%=apiURL%>";
    dashboard.init();
  });
</script> -->