<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>LIST OF ACCREDITED ORGANIZATIONS </title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-white">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-md-12 align-self-center p-static">
                                <h1 class="text-dark"><strong>List of Accredited Organizations</strong></h1>
                            </div>

                        </div>
                    </div>
                </section>
                <div class="container main-container">
                    <div class="container">
                        <br>
                        <div class="row justify-content-center">
                            <!-- <div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter">
                                <div class="card bg-color-grey">
                                    <h5 class="mobile-text-heaght">Certified Organizations / Personnel</h5>
                                    <form id="Organization" class="contact-form form-style-2" novalidate="novalidate">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label class="form-label mb-1 text-2"> Name</label>
                                                <input type="text" value="" data-msg-required="Please enter name."
                                               class="form-control text-3 h-auto py-2" name="name"
                                                    required="" id="name_personnel">
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label class="form-label mb-1 text-2">Certificate Number</label>
                                                <input type="text" value="" data-msg-required="Please enter name."
                                                 class="form-control text-3 h-auto py-2" name="certificatename"
                                                    required="" id="certificatename">
                                            </div>
                                        
                                            
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <input type="submit" value="Search" class="btn btn-primary"
                                                    data-loading-text="Loading..." id="AccreditedPopup">
                                            </div>
                                        </div>
                                    
                                    </form>
                                </div>
    
                               
    
                                
                            </div> -->
                        
                            <div class="col-lg-6 appear-animation" data-appear-animation="fadeInRightShorter">
                                <div class="card bg-color-grey">
                                    <h5 class="mobile-text-heaght"> Accredited Bodies</h5>
                                    <form class="contact-form form-style-2" id="accredited-bodies" novalidate="novalidate">
                                        <div class="row">
                                            <div class="form-group col-lg-12">
                                                <label class="form-label mb-1 text-2"> Name</label>
                                                <input type="text" value="" data-msg-required="Please enter  name."
                                                 class="form-control text-3 h-auto py-2" name="accreditedname"
                                                    required="" id="accreditedname">
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="form-group col">
                                                <input type="submit" value="Search" class="btn btn-primary"
                                                    data-loading-text="Loading..." id="OrganizationPopup">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button style="visibility: hidden;" class="btn btn-modern btn-primary"
                        data-bs-toggle="modal" data-bs-target="#defaultModal" id="popup">
                        Launch Default Modal
                    </button>
                    
               
    
                    </div>
                </div>
                <div class="col-sm-9">


                    <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog"
                        aria-labelledby="defaultModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="defaultModalLabel">Default Modal Title</h4>
                                    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
                                            <h4 class="mb-2" id="name"></h4>
                                            <p class="m-0 " id="filed-1" >Test Certification</p>
                                        </div>
    
                                    </div>
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
                                            <h4 class="mb-2" id="Address"></h4>
                                            <p class="m-0" id="filed-2">Test Certification Address</p>
                                        </div>
    
                                    </div>
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
                                            <h4 class="mb-2" id="Registration">Accredited Scope </h4>
                                            <p class="m-0" id="filed-3">Test</p>
                                        </div>
    
                                    </div>
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
                                            <h4 class="mb-2" id="country">Registration Date</h4>
                                            <p class="m-0" id="filed-4" >12-Aug-2023</p>
                                        </div>
    
                                    </div>
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light photo-div">
                                            <h4 class="mb-2" id="photo"></h4>
                                            <div class="photo">
    
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="col-sm-12">
    
                                        <div class="pe-3 pe-sm-5 pb-3 pb-sm-0 border-right-light">
                                            <h4 class="mb-2" id="Certificateno">Status</h4>
                                            <p class="m-0" id="filed-6">Active</p>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light close-modal" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>




            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js" integrity="sha512-hUhvpC5f8cgc04OZb55j0KNGh4eh7dLxd/dPSJ5VyzqDWxsayYbojWyl5Tkcgrmb/RVKCRJI1jNlRbVP4WWC4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>
    

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>