<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hotel Accreditation</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <div class="container main-container">
                    <div class="row ">
                        <div class="col-lg-12  mt-lg-0">
                            <div>
                                <span
                                    class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                                    <span class="thumb-info-wrapper">
                                        <img src="/website-file/USAC-Website/Accreditation/hotel.jpg"
                                            class="img-fluid custom-border" alt="accrediatation">
                                        <span class="thumb-info-wrapper-overlay">
                                            <span class="thumb-info-action">
                                                <a href="#">
                                                    <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fas fa-play-circle text-dark text-dark"></i></span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <br>
                                <h2 class="text-10 text-dark">Global recognition for programmes of professional study in
                                    hospitality, leisure, tourism, events and related fields.

                                </h2>
                                <p class="text-dark text-dark text-4">
                                    We provide international recognition to global education providers for programmes of
                                    study at craft level through to senior management level. USAC Accredited programmes
                                    demonstrate they meet recognised levels and standards of professional knowledge,
                                    skills and understanding, are relevant to the needs of the industry and meet
                                    accepted international benchmark standards.
                                </p>
                                <hr>

                                <p class="text-dark text-dark text-4">
                                    USAC Accreditation helps to promote internationally recognised quality standards,
                                    assists in the mobility of labour and facilitates global recruitment. It assists
                                    providers in the development, enhancement and improvement of their programmes and
                                    quality management systems and helps them to achieve:
                                <ol class="text-dark text-dark text-4">
                                    <li>A competitive advantage</li>
                                    <li>International recognition</li>
                                    <li>Added value for students</li>
                                    <li>Professional membership</li>
                                    <li>Professional recognition
                                    </li>
                                    <li>Quality standards</li>

                                </ol>
                                </p>
                                <p class="text-dark text-dark text-4">
                                    USAC Accreditation provides an assurance of quality for students and gives them
                                    confidence in their selection of:
                                <ul class="text-dark text-dark text-4">
                                    <li>Education provider</li>
                                    <li>Programme of study</li>


                                </ul>
                                </p>
                                <p class="text-dark text-dark text-4">
                                    Entitlements of successful accreditation include:
                                <ul class="text-dark text-dark text-4">
                                    <li>A report detailing the panel findings</li>

                                    <li>An accreditation certificate</li>
                                    <li>A listing on the accreditation register</li>
                                    <li>An accreditation logo to display on certification and marketing materials</li>
                                    <li>Professional recognition</li>
                                    <li> Publicity and recommendation</li>

                                </ul>
                                </p>


                            </div>

                        </div>
                    </div>
                </div>

                <hr>



            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>