<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Laboratory Accreditation</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <div class="container main-container">
                    <div class="row ">
                        <div class="col-lg-12  mt-lg-0">
                            <div>
                                <span
                                    class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                                    <span class="thumb-info-wrapper">
                                        <img src="/website-file/USAC-Website/Accreditation/laboratory.jpg"
                                            class="img-fluid custom-border" alt="accrediatation">
                                        <span class="thumb-info-wrapper-overlay">
                                            <span class="thumb-info-action">
                                                <a href="#">
                                                    <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fas fa-play-circle text-dark text-dark"></i></span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <br>
                                <h2 class="text-10 text-dark"> Laboratory Accreditation</h2>
                                <p class="text-dark text-dark text-4">
                                    USAC recognises the importance of the applicability of standards to all stakeholders
                                    within the standards community and to that end is cognizant of ISO/IEC 17011: 2004.
                                    USAC approach is to ensure that during its accreditation activities it is seen to be
                                    open, transparent, fair, and technically and administratively proficient. We aim to
                                    be reliable, repeatable and responsive and renowned for our user friendliness.
                                    In order to ensure that the needs and requirements of laboratory stakeholders are
                                    met, USAC will operate to a documented quality management system. The organization
                                    encourages the setting of quality objectives and plans in order to implement quality
                                    policies. It is keen to ensure that all personnel are familiar with quality policy
                                    to ensure customer satisfaction. Health, safety and welfare of staff are important
                                    and visitors to all sites shall be treated with respect and due consideration shall
                                    be given to their safety while on site. <br>
                                    USAC encourage the upholding of professional values and is committed to good
                                    professional practice and conduct by promoting awareness of the sustainability of
                                    the planet's resources by using recyclable/renewable materials and minimizing the
                                    production of waste and energy use.
                                </p>
                                <hr>
                                <p class="text-dark text-dark text-4">
                                    The USAC fee policy is one of reasonable affordability for laboratories. To this end
                                    it is USAC strategy to retrieve the costs of its accreditation activities from a
                                    levy based upon the turnover of the laboratory. It is the policy of USAC to avoid
                                    such fee arrangements that may be perceived as an economic activity in so far it
                                    would be unrelated to the commercial viability of the laboratory.
                                    The fee levels for each laboratory activity is sometimes quite small and whilst it
                                    has been the USAC historical practice to recover fees based upon the certificates
                                    issued by the accredited body, it is felt that in the test and calibration
                                    laboratory scenario such arrangements would be administratively unwieldy. Therefore
                                    fees are based upon initial accreditation and ongoing accreditation surveillance.
                                    Guide 52 defines fees more fully.
                                </p>
                                <hr>
                                <h2 class="text-10 text-dark"> LABORATORY ACCREDITATION APPROACH</h2>
                                <p class="text-dark text-dark text-4">
                                    The adoption of a flexible scope places a greater onus of responsibility on the
                                    laboratory for demonstrating competence and reliability. It is for the laboratory to
                                    determine and define what are the test requirements to which it should be accredited
                                    in accordance with ISO 17025.
                                </p>
                                <p class="text-dark text-dark text-4">
                                    <strong>USAC has adopted a flexible scope regime that permits a laboratory to
                                        undertake specific tests/calibrations, and to report the results as accredited,
                                        provided they fit within their general accreditation schedule. Typically this
                                        would encompass:
                                    </strong>
                                <ul class="text-dark text-dark text-4">
                                    <li>Bulthe inclusion of novel tests in accordance with a generic method;</li>
                                    <li> The modification of existing methods to broaden their applicability</li>
                                </ul>
                                </p>
                                <p class="text-dark text-dark text-4">
                                    The adoption of a flexible scope places a greater onus of responsibility on the
                                    laboratory for demonstrating competence and reliability. It is for the laboratory to
                                    determine and define what are the test requirements to which it should be accredited
                                    in accordance with ISO 17025.
                                </p>
                                <p class="text-dark text-dark text-4">
                                    <strong>All laboratories seeking accreditation for a flexible scope of accreditation
                                        must be able to demonstrate compliance with the following key requirements::
                                    </strong>
                                <ul class="text-dark text-dark text-4">
                                    <li>Methods
                                    </li>
                                    <li>ISO/IEC 17025;</li>
                                    <li>Competence of laboratory management </li>
                                    <li>Quality control of its methods</li>
                                    <li> Internal audit programme. </li>
                                    <li> Client contract review </li>
                                    <li>Record system </li>
                                    <li>Full description of, or reference to, test details within test certificates
                                    </li>
                                    <li>Arrangements to advise USAC of change to accredited methods for testing. </li>
                                </ul>
                                </p>
                                <p class="text-dark text-dark text-4">The laboratory's documented quality system must
                                    clearly state it maintains a flexible
                                    scope of accreditation and specify the areas of activity and the limits within which
                                    it operates. The process of modifying, adding, reviewing and authorising methods
                                    shall be documented. The documentation system must be submitted to USAC in full and
                                    shall comply with ISO 9001 requirements.</p>
                                <p class="text-dark text-dark text-4">
                                    USAC will (including documentation review), base its accreditation decision upon
                                    examination implementation of ISO 17021, the documented arrangements, examination of
                                    the adequacy of the competence criteria for staff, interview with staff and
                                    verification of qualifications, experience, technical knowledge and training, and
                                    review of laboratory records. And use of other assessment techniques, as
                                    appropriate.
                                </p>





                            </div>

                        </div>
                    </div>
                </div>

                <hr>



            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>