<% include  login_header %>
<style>
    .error {
        color: red;
    }
</style>
<body
    class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 1-column login-bg   blank-page blank-page"
    data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div id="login-page" class="row">
                    <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8">
                        <form class="login-form" id="login-form">
                            <div class="row">
                                <div class="input-field col s12 " align="center">
                                    <h5 class="ml-4">Forgot Password</h5>
                                    <p>Enter registered mobile number below.</p>

                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">phone_outline</i>
                                    <input id="mobile_number" onkeypress="return forgot_pass.isNumberKey(event)" name="mobile_number" type="text" maxlength="10">
                                    <label for="mobile_number" class="center-align">Mobile Number</label>
                                </div>
                            </div>
                            <div class="row margin password" style="display: none;">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="password" name="password" type="password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button id="login_btn" type="button"
                                        class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l6">
                                </div>
                                <div class="input-field col s6 m6 l6">
                                    <p class="margin right-align medium-small"><a href="/login">Back to Login?</a></p>
                                </div>
                            </div>
                        </form>
                        <form class="otp-form" id="otp-form" style="display: none;">
                            <div class="row">
                                <div class="input-field col s12 " align="center">
                                    <h5 class="ml-4">OTP Verification</h5>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">phone_outline</i>
                                    <input id="otp" name="otp"  onkeypress="return forgot_pass.isNumberKey(event)" maxlength="8" type="text">
                                    <label for="otp" class="center-align">OTP</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <button type="submit" id="otp_submit"
                                        class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">
                                        Submit</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l6">
                                </div>
                                <div class="input-field col s6 m6 l6">
                                    <p class="margin right-align medium-small"><a href="/login">Back to Login ?</a></p>
                                </div>
                            </div>
                        </form>
                        <form class="password-form" id="password-form" style="display: none;">
                            <div class="row">
                                <div class="input-field col s12 " align="center">
                                    <h5 class="ml-4">Create New Password</h5>
                                </div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="n_password" name="n_password" maxlength="14" minlength="5" type="password">
                                    <label for="n_password" class="center-align">Password</label>
                                </div>
                                 <div class="error-div"></div>
                            </div>
                            <div class="row margin">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix pt-2">lock_outline</i>
                                    <input id="c_password" name="c_password" maxlength="14" minlength="5" type="password">
                                    <label for="c_password">Confirm Password</label>
                                </div>
                                 <div class="error-div"></div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button id="create_new_password" type="submit"
                                        class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Submit
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 m6 l6">
                                </div>
                                <div class="input-field col s6 m6 l6">
                                    <p class="margin right-align medium-small"><a href="/login">Back to login?</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include  login_footer %>

    <script src="/admin/vendors/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin/js/scripts/form-validation.js"></script>
    <script src="/admin/custom/forgot_pass_admin.js"></script>
    <script type="text/javascript">
        $(function () {
            forgot_pass.base_url = "<%=baseURL%>";
            forgot_pass.init();
        });
    </script>