<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Login">
    <meta name="keywords" content="login">
    <title>Login</title>
    <link rel="apple-touch-icon" href="/admin/images/Favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/admin/images/Favicon.png">
    <link rel="icon" type="image/png" href="/admin/images/Favicon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/vendors/vendors.min.css">
    <!-- END: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/toastr/toastr.css">

    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/themes/vertical-modern-menu-template/materialize.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/themes/vertical-modern-menu-template/style.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/pages/login.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/admin/css/custom/custom.css">

    <script src="/admin/js/jquery.min.js"></script>
    <script src="/admin/js/bootstrap.min.js"></script>
    <script src="/admin/toastr/toastr.min.js"></script>

    <!-- END: Custom CSS-->
</head>
<!-- END: Head-->