<style>
    .font-black {
        color: #000 !important;
    }
</style>
<footer id="footer">
    <div class="container">
        <div class="footer-ribbon">
            <span>Get in Touch</span>
        </div>
        <div class="row py-5 my-4">
            <div class="col-md-3 mb-4 mb-lg-0">
                <a href="/" class="logo pe-0 pe-lg-3">
                    <img alt="Porto Website Template" src="/website-file/all-img/logo.png" class=" bottom-4"
                        height="100">
                </a>

            </div>
            <div class="col-md-9">
                <h5 class="text-3 mb-3 font-black">CONTACT US</h5>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1"><i class="far fa-dot-circle text-color-primary"></i>
                                <p class="m-0 font-black">United States Accreditation Council

                                    7950 NW, 53rd Street, Suite 337, Miami, Florida 33166 </p>
                            </li>
                            <li class="mb-1"><i class="icon-phone icons"></i>
                                <p class="m-0 font-black"><a href="tel:+1 (786)-292-2986" class="font-black">+1
                                        (786)-292-2986</a></p>
                            </li>
                            <li class="mb-1"><i class="far fa-envelope text-color-primary"></i>
                                <p class="m-0 font-black"><a href="mailto:usacamerica@gmail.com"
                                        class="font-black">usacamerica@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-sm">
                            <li><i class="fas fa-angle-right"></i><a href="/"
                                    class="link-hover-style-1 ms-1 font-black">Home</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/about"
                                    class="link-hover-style-1 ms-1 font-black"> About</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/accreditation"
                                    class="link-hover-style-1 ms-1 font-black"> What is Accreditation</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/publications"
                                    class="link-hover-style-1 ms-1 font-black">Publications</a></li>
                            <li><i class="fas fa-angle-right"></i><a href="/contactus"
                                    class="link-hover-style-1 ms-1 font-black">Contact Us</a></li>
                 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-style-2">
        <div class="container py-2">
            <div class="row ">
                <div class="col d-flex align-items-center justify-content-center font-black">
                    <p class="font-black">© Copyright 2023. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>