<header id="header" class="header-effect-shrink"
    data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0">
     
        <div class="header-container container-sm">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="logo" width="150" height="150" data-sticky-width="60%" data-sticky-height="60%"
                                    src="/website-file/all-img/logo.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav order-2 order-lg-1">
                            <div
                                class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle " href="/">
                                                Home
                                            </a>

                                        </li>
                                        <li class="dropdown dropdown-mega">
                                            <a class="dropdown-item dropdown-toggle" href="/about">
                                                About Us
                                            </a>

                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                WHAT IS ACCREDITATION?
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="/accreditation">
                                                        What is Accreditation
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/what-is-accreditation/accreditation-benefits">
                                                        Accreditation Benefits
                                                    </a>
                                                </li>
                                                <!-- <li>
                                                    <a class="dropdown-item" href="/what-is-accreditation/accreditation-for-personnel-bodies">
                                                        Accreditation For Personnel Bodies
                                                    </a>
                                                </li> -->



                                            </ul>

                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                ACCREDITATION
                                            </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li>
                                                    <a class="dropdown-item" href="/accreditation/management-system-certification-bodies">
                                                        Management System Certification Bodies
                                                    </a> 
                                                </li>
                                                <li>
                                                    <a class="dropdown-item " href="/personnel-certification-bodies">
                                                        Personnel Certification Bodies
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/accreditation/inspection-bodies">
                                                        Inspection Bodies
                                                    </a> 
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/accreditation/product-certification">
                                                     Product Certification
                                                    </a> 
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/personnel-certification-bodies/hotel-accreditation">
                                                        Hotel Accreditation
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/personnel-certification-bodies/educational-institutes-accreditation">
                                                        Educational Institutes
                                                        Accreditation

                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/personnel-certification-bodies/laboratory-accreditation">
                                                        Laboratory Accreditation
                                                    </a>
                                                </li>
                                              
                                                <li>
                                                    <a class="dropdown-item" href="/personnel-certification-bodies/hospital-certification.ejs">
                                                        Hospital Certification
                                                    </a>
                                                </li>
                                                
                                                 
                                           
                                            </ul>
                                        </li>
                                        <li class="dropdown" style="display: none;">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                Personnel Certification Bodies
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item " href="/personnel-certification-bodies">
                                                        Personnel Certification Bodies
                                                    </a>
                                                </li>
                                              
                                             


                                            </ul>

                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                DIRECTORY
                                            </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li>
                                                    <a class="dropdown-item" href="/directory/list-of-accredited-organizations">
                                                     
                                                        List of Accredited Organizations
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/directory/list-of-personnel-certifications">
                                                     
                                                        List of Personnel Certifications
                                                    </a>
                                                </li>



                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#">
                                                PUBLICATIONS
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item" href="/publications">
                                                        Publications
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="/publications/manual-and-procedure-uaf">
                                                        Manual and Procedure- USAC
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li >
                                            <a class="dropdown-item dropdown-toggle" href="/contactus">
                                                Contact Us
                                            </a>
                                      
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse"
                                data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>