<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Accreditation for Inspection Bodies </title>

	<meta name="keywords" content="United States Accreditation Council (USAC)" />
	<meta name="description" content="United States Accreditation Council (USAC)">
	<meta name="author" content="usacamerica">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

	<!-- Web Fonts  -->
	<link id="googleFonts"
		href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
		rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
	<link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
	<link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
	<link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/website-file/css/theme.css">
	<link rel="stylesheet" href="/website-file/css/theme-elements.css">
	<link rel="stylesheet" href="/website-file/css/theme-blog.css">
	<link rel="stylesheet" href="/website-file/css/theme-shop.css">

	<!-- Skin CSS -->
	<link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
	<div class="body">
		<% include ../layout-web/header %>

			<div role="main" class="main">
				<div class="container main-container">
					<div class="row ">
						<div class="col-lg-12  mt-lg-0">
							<div>
								<span
									class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
										<img src="/website-file/web-img/INSPECTION-BODIES.jpg"
											class="img-fluid custom-border" alt="accrediatation">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
												<a href="#">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i
															class="fas fa-play-circle text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div>
								<br>
								<h2 class="text-10 text-dark">Accreditation for Inspection Bodies</h2>
								<p class="text-dark text-dark text-4">
									According to ISO, an inspection is: An examination of a product, process, service,
									or installation or their design and determination of its conformity with specific
									requirements or, on the basis of professional judgment, with general requirements
									(ISO/IEC 17000 definition). Inspection bodies are engaged to carry out these
									inspections on behalf of:
								</p>

								<ul class="text-dark text-4">
									<li>Private clients</li>
									<li> Their parent organizations, or</li>
									<li> Authorities, including regulatory authorities.</li>
								</ul>
								<p class="text-dark text-dark text-4">
									The objective of inspection is to provide the client with information regarding the
									conformity of the inspected items with specifications, which may be contained in
									regulations, standards, inspection schemes or contracts. Inspection can be used by
									clients to measure the compliance of products or systems with quality, safety, and
									fitness for purpose requirements.
								</p>
								<hr>
								<h2 class="text-10 text-dark">Inspection body accreditation (ISO/IEC 17020)</h2>
								<p class="text-dark text-dark text-4">
									USAC provides ISO/IEC 17020 accreditation to organisations performing the following
									types of inspection, surveys and risk assessments: Engineering Inspection (including
									Pressure Systems, lifting equipment/Hoists, electrical installations, power presses,
									local exhaust ventilation, cargo / pre-shipment inspection, manufacture of
									boilers/pressure vessels, welding inspections, oil, and gas metering) Building and
									Construction Products Food Inspection (food safety, food hygiene, manufacturing and
									processed practices, cargo inspection, animal welfare, labeling) Asbestos Surveys
									Legionella Risk Assessments Health and Social Care Care Home Inspection Nuclear New
									Build Inspection Fire Protection Systems Crime Scene Examination Railway Competence
									Plant Health Environmental Technology Verification Bodies offering inspection
									services, if seeking USAC accreditation, must meet the requirements of ISO/IEC 17020
									<br>
									– Conformity assessment—Requirements for the operation of various types of bodies
									performing an inspection.


								</p>
								<hr>
								<h2 class="text-10 text-dark">Documents for Accreditation</h2>
								<p class="text-dark text-dark text-4">
									If you are interested to apply for USAC Accreditation of your Inspection Body in
									accordance with ISO 17020, please send an email at info@USACaccreditation.org to
									request the following documents for Accreditation.
								</p>
								<ol class="text-dark text-4">
									<li>Application For Accreditation for Inspection Body</li>
									<li> General Criteria for Accreditation Requirements</li>
									<li>General Criteria for Conditions for the Use of USAC Accreditation Symbol</li>
									<li> Fees</li>
									<li>Accreditation requirements for Inspection Bodie</li>

								</ol>
								<p class="text-dark text-4">Please read Accreditation requirements for Inspection Bodies and other guiding documents in the publication area. </p>
							</div>

						</div>
					</div>
				</div>

				<hr>



			</div>

			<% include ../layout-web/footer %>
	</div>

	<!-- Vendor -->
	<script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/website-file/js/theme.js"></script>

	<!-- Theme Custom -->
	<script src="/website-file/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/website-file/js/theme.init.js"></script>

</body>

</html>