<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Accreditation For Business Continuity Management (BCM) Systems</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <div class="container main-container">
                    <div class="row ">
                        <div class="col-lg-12  mt-lg-0">
                            <div>
                                <span
                                    class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                                    <span class="thumb-info-wrapper">
                                        <img src="/website-file/web-img/BusinessContinuityManagementHome.jpg"
                                            class="img-fluid custom-border" alt="accrediatation">
                                        <span class="thumb-info-wrapper-overlay">
                                            <span class="thumb-info-action">
                                                <a href="#">
                                                    <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fas fa-play-circle text-dark text-dark"></i></span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <br>
                                <h2 class="text-10 text-dark">Accreditation For Business Continuity Management (BCM)
                                    Systems </h2>
                                <p class="text-dark text-dark text-4">
                                    Business Continuity Management System certification is provided by certification
                                    bodies to organizations who have demonstrated that they have implemented a system
                                    for business continuity. Business continuity management (BCM) is a framework for
                                    identifying an organization’s risk of exposure to internal and external threats.
                                    <br><br>
                                    ISO 22301 that specifies security requirements for disaster recovery preparedness
                                    and business continuity management systems (BCMS) and emphasizes the importance of
                                    Understanding continuity and preparedness needs, as well as the necessity for
                                    establishing business continuity management policy and objectives, implementing and
                                    operating controls and measures for managing an organization’s overall continuity
                                    risks, monitoring & reviewing the performance and effectiveness of the business
                                    continuity management system.
                                    <br><br>
                                    Certification Bodies interested to apply for an Accreditation scheme for BCM can
                                    send an email at <a href="mailto:usacamerica@gmail.com ">
                                        usacamerica@gmail.com </a> demanding for following Application
                                    documents.

                                <ol class="text-dark text-dark text-4">
                                    <li>Accreditation Application for Business Continuity Management System:
                                        USAC-APL-CAB-07-BCM</li>
                                    <li>General Criteria for Accreditation Requirements: USAC-GEN-CAB-01</li>
                                    <li>General Criteria for Conditions for the Use of USAC Accreditation Symbol:
                                        USAC-GEN-CAB-02</li>
                                    <li>Accreditation requirements for Business Continuity Management System:
                                        USAC-CAB-BCM</li>
                                    <li>Applicable Fees: USAC-CAB-BCM-FEES-00</li>
                                    <li>Documentation Checklist as per AMS for ISO/IEC 17021-1 and ISO/IEC 17021-6</li>
                                </ol>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <hr>



            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>