<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Accreditation For Environmental Management Systems (EMS)</title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <div class="container main-container">
                    <div class="row ">
                        <div class="col-lg-12  mt-lg-0">
                            <div>
                                <span
                                    class="thumb-info thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
                                    <span class="thumb-info-wrapper">
                                        <img src="/website-file/all-img/accrediatation.jpg"
                                            class="img-fluid custom-border" alt="accrediatation">
                                        <span class="thumb-info-wrapper-overlay">
                                            <span class="thumb-info-action">
                                                <a href="#">
                                                    <span class="thumb-info-action-icon thumb-info-action-icon-light"><i
                                                            class="fas fa-play-circle text-dark text-dark"></i></span>
                                                </a>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div>
                                <br>
                                <h2 class="text-10 text-dark">Accreditation For Energy Management Systems (EnMS)</h2>
                                <p class="text-dark text-dark text-4">
                                    Environmental Management System certification is provided by certification bodies
                                    (CBs) to organizations whose management systems meet the requirements of the
                                    ISO14001. standard. ISO14001 specifies the elements of an environmental management
                                    system that an organization must have in place in order to become certified under
                                    the standard. In order to achieve this standard, a company must have an
                                    environmental policy in place that is communicated to all employees. It must define
                                    its environmental aspects and set objectives and targets to improve its
                                    environmental impact and performance. These objectives and targets should be
                                    measurable and be monitored closely by the organization. A company must also ensure
                                    it is compliant with any applicable environmental legislation.
                                    <br>
                                    <br>
                                    A Certification Body applying for ISO 14001 accreditation must conform to ISO/IEC
                                    17021-1 and ISO 17021-2 and other additional International requirements as detailed
                                    in Specific Requirements for Accreditation for EMS Scheme.
                                    <br>
                                    <br>
                                    Certification Bodies interested to apply for an Accreditation scheme for EMS can
                                    send an email at info@USACaccreditation.org demanding for following Application
                                    documents.

                                <ol class="text-dark text-dark text-4">
                                    <li>Accreditation Application for Environment Management System: USAC-APL-CAB-EMS
                                    </li>
                                    <li>General Criteria for Accreditation Requirements: USAC-GEN-CAB-01</li>
                                    <li>General Criteria for Conditions for the Use of USAC Accreditation Symbol:
                                        USAC-GEN-CAB-02</li>
                                    <li>Accreditation requirements for Environment Management System: USAC-CAB-EMS</li>
                                    <li>Applicable Fees: USAC-CAB-MS-FEES-2018</li>
                                    <li>Documentation Checklist as per ISO 17021-1 and ISO 17021-2</li>
                                </ol>

                                </p>
                            </div>

                        </div>
                    </div>
                </div>

                <hr>



            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>