<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Management System Certification Bodies </title>

    <meta name="keywords" content="United States Accreditation Council (USAC)" />
    <meta name="description" content="United States Accreditation Council (USAC)">
    <meta name="author" content="usacamerica">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-file/all-img/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/website-file/all-img/logo.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
        rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/website-file/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/website-file/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/website-file/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="/website-file/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/website-file/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/website-file/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/website-file/css/theme.css">
    <link rel="stylesheet" href="/website-file/css/theme-elements.css">
    <link rel="stylesheet" href="/website-file/css/theme-blog.css">
    <link rel="stylesheet" href="/website-file/css/theme-shop.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="/website-file/css/skins/skin-corporate-5.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/website-file/css/custom.css">

</head>

<body data-plugin-page-transition>
    <div class="body">
        <% include ../layout-web/header %>

            <div role="main" class="main">
                <section class="page-header page-header-modern bg-white">
                    <div class="container">
                        <div class="row text-center ">
                            <div class="col-md-12 align-self-center p-static">
                                <h1 class="text-dark"><strong>Management System Accreditation</strong></h1>
                            </div>

                        </div>
                    </div>
                </section>
                <div class="container">

                    <div class="row ">
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Energy-Management-Systems.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">ENERGY MANAGEMENT SYSTEMS (ENMS)
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Energy Management Systems (EnMS)
                                        Scheme in accordance with ISO 50001. </p>
                       
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/web-img/medical-d-ms.jpg" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">MEDICAL DEVICE QUALITY
                                        MANAGEMENT 
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation for Medical Device QMS Scheme in
                                        accordance with ISO 13485.</p>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Food-safety-Management-system.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">FOOD SAFETY MANAGEMENT SYSTEMS
                                        (FSMS)
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Food Safety Management Systems
                                        (FSMS) Scheme in accordance with ISO 22000.</p>
                                
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Information-Security-Management Systems.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">INFORMATION SECURITY MANAGEMENT
                                        SYSTEMS
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Information Security Management
                                        Systems (ISMS) Scheme based on ISO/IEC 27001.</p>
                              
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Information-Technology-Service-Management.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">INFORMATION TECHNOLOGY SERVICE MANAGEMENT SYSTEMS
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Information Technology Service
                                        Management Systems (ITSMS) Scheme in accordance with ISO 20000.</p>
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Environmental-Management-Systems.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">ENVIRONMENTAL MANAGEMENT SYSTEMS
                                        (EMS)
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Environmental Management Systems
                                        (EMS) Scheme in accordance with ISO 14001.</p>
                             
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Occupational-Health-and-Safety-Management-System.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">OCCUPATIONAL HEALTH AND SAFETY
                                        SYSTEM
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Occupational Health and Safety
                                        Management System (OHSMS) Scheme in accordance with ISO 45001:2018 and OHSAS
                                        18001.</p>
                         
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/QualityManagementSystems.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">QUALITY MANAGEMENT SYSTEMS
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Quality Management Systems (QMS)
                                        Scheme in accordance with ISO 9001. </p>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/BusinessContinuityManagement.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">BUSINESS CONTINUITY MANAGEMENT
                                        SYSTEM
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation For Business Continuity Management
                                        (BCM) Systems in accordance with ISO 22301.</p>
                               
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row ">
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                        data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                        <div class="card">
                            <img class="card-img-top" src="/website-file/USAC-Website/EducationOrganizationsManagementSystems.png" alt="Card Image">
                            <div class="card-body">
                                <h4 class="card-title mb-1 text-4 font-weight-bold">EDUCATION ORGANIZATIONS
                                    MANAGEMENT SYSTEMS
                                </h4>
                                <p class="card-text mb-2 pb-1">Accreditation for ISO 21001:2018 Education
                                    Organizations Management Systems</p>
                   
                            </div>
                        </div>
                    </div>
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0 appear-animation"
                            data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <div class="card">
                                <img class="card-img-top" src="/website-file/USAC-Website/Anti-BriberyManagementSystem.png" alt="Card Image">
                                <div class="card-body">
                                    <h4 class="card-title mb-1 text-4 font-weight-bold">ANTI-BRIBERY MANAGEMENT SYSTEM 
                                    </h4>
                                    <p class="card-text mb-2 pb-1">Accreditation for ISO 37001:2016 Anti Bribery Management System - ABMS</p>
                        
                                </div>
                            </div>
                        </div>
             


                    </div>

                </div>
            </div>

            <% include ../layout-web/footer %>
    </div>

    <!-- Vendor -->
    <script src="/website-file/vendor/plugins/js/plugins.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="/website-file/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="/website-file/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="/website-file/js/theme.init.js"></script>

</body>

</html>